[MESSAGES CONTROL]
# C0103 : Invalid variable, class, function name
# C0111 : Missing docstring
# C0301 : Line too long
# C0325 : Unnecessary parens after %r keyword
# E1101 : Module x has no y member (doesn't work)
# F0401 : Unable to import (doesn't work)
# R0914 : Too many local variables (*/15)
disable=C0103,C0111,C0301,C0325,E1101,F0401,R0903,R0914
